
.product-item {
    margin-bottom: 20px;
    margin-right: 20px;
    clear: both;
}

.product-item__link {
    display: block;
    padding: 0px 10px;
}

.products {
    display: flex;
    flex-wrap: wrap; 
}

.product_item__price {
    font-weight: bold;
    padding: 10px;
    float: left;
}


.product-item .btn-buy {
    float: right;
}

.product-item {
    overflow: hidden;
}

.product-item::after {
    display:block;
    clear:both;
}

.form-feedback {
    width: 300px;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

textarea {
    width: 100%;
}

.black-button {
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;    
}

.black-button:hover {
    background-color: #555555;
    cursor: pointer;
}

.black-button_sm {
    padding: 4px;
    border-radius: 2px;
}